<div class="professional-experience-fields">
  <%= f.hidden_field :id %>
  <%= f.label :company_name %>
  <%= f.text_field :company_name %>

  <%= f.label :role %>
  <%= f.text_field :role %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :started_on %>
  <%= f.date_field :started_on %>

  <%= f.label :ended_on %>
  <%= f.date_field :ended_on %>

  <%= f.check_box :_destroy %> <%= f.label :_destroy, 'Remove' %>
</div>

