<% grouped_posts =
  @posts.group_by { |post| post.published_at&.beginning_of_month || :draft } %>

<% grouped_posts.each do |month, posts_grouped| %>
  <% if month == :draft %>
    <h2 class="month-header">Drafts</h2>
  <% else %>
    <h2 class="month-header"><%= month.strftime("%B - %Y") %></h2>
  <% end %>

  <% posts_grouped.each do |post| %>
    <div class="post-card">
      <%= link_to post, :action => 'go' do %>
        <div class="columns-2">
          <div class="post-title">
            <%= post.title %>
          </div>

          <% if post.draft? %>
            <div class="post-status draft">Draft</div>
          <% elsif post.scheduled? %>
            <div class="post-status scheduled">Scheduled to
              <%= post.published_at.strftime("%b, %d %Y") %>
            </div>
          <% elsif post.published? %>
            <div class="post-date">
              <%= post.published_at.strftime("%b, %d %Y") %>
            </div>
          <% end %>
        </div>

        <div class="content">
          <p><%= truncate(post.content.to_plain_text, length: 150) %></p>
        </div>
      <% end %>

      <div class="tags">
        <p>Tags:
          <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(", ") %></p>
      </div>
    </div>
  <% end %>
<% end %>
