<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  
  <body class="">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <div class="header">
      <%= link_to "Home", root_path, class: "header-link-to" %>
      
      <!-- TODO: add a dropdown to user settings -->
      <% if user_signed_in? %>
      <div>
        <%= link_to "New post", new_post_path, class: "header-link-to" %>
        <%# <%= link_to "Profile", edit_user_registration_path %>
        <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "header-button" %>
      
        <!-- TODO: add edit if in show path
        <% if current_page?(post_path(7)) %>
        <%= link_to "Edit", edit_post_path(7), class: "header-button" %>
        <% end %>
        -->

      </div>
      <%# <% else %>
        <%# <%= link_to "Login", new_user_session_path %>
        <%# <%= link_to "Sign Up", new_user_registration_path %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
